/*Global styling*/
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: #dedbd2;
}

/*Navigation styling*/
nav {
  width: 100%;
  background-color: #4A5759;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item-container {
  display: flex;
  list-style: none;
  background-color: #4A5759;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: #4A5759;

}

.nav-item:hover a {
  color: b0c4b1;
}

.site-logo {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 28px;
  background-color: #4A5759;

}

.site-logo img {
  width: 175px;
  vertical-align: middle;
}

/*Main section styling*/

main {
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.col {
  flex: 1;
}

.left-div {
  flex: 60%;
  padding: 10px;
}

.right-div {
  flex: 40%;
  padding: 10px;
}

button {
  background-color: #b0c4b1;
}

/*Map container styling*/
#mapid, #mapid2 {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Footer styling*/
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  padding: 10px 15px;
  text-decoration: none;
}

.footer-links i {
	font-size: 200%;
	padding: 10px 25px 0 25px;
	color: #343a40;
}


