/*Import Google font family Open Sans at default font weight*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Global styling*/
html {
  /*min-height: 100%;*/
  margin: 0;
  padding: 0;
  background-color: #F0EEEA;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #E7EBEB;
}

body, wrapper {
  min-height: 100vh;
}

/*Navigation styling*/
nav {
  width: 100%;
  background-color: #3C503D;
  padding-left: 30px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  align-items: center;
  list-style: none;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.navbar:hover a {
  color: #E49977;
}

.site-logo {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 28px;
  background-color: #3C503D;
  vertical-align: middle;
  margin: 0;
}

/*Main section styling*/
.home-img {
  /*height: 300px;*/
  /*width: 300px;*/
  border-radius: 10px;
}

main {
  flex: 1;
}

.map-button {
  background-color: #b0c4b1;
  border-radius: 4px;
  border-style: solid 0.5px;
  border-color: #96B097;
  padding: 8px 0px 8px 0px;
  width: 250px;
  opacity: 0.9;
}

.map-button:hover {
  color: white;
  background-color: #B55224;
  border-color: #91411D;
}

ul {
  padding: 0;
}

select {
  background-color: #FDFDFC;
  border-style: solid 1px;
  border-radius: 4px;
  border-color: #b0c4b1;
}

#main-container {
  overflow: auto;
}

#form-div {
  padding-top: 15px;
}

#controls {
  margin-top: 10px;
}

#controls button {
  margin-top: 15px;
}

#controls-bottom {
  padding-top: 10px;
  padding-bottom: 15px;
}

#build-button {
  margin-top: 16px;
}

/*Map container styling*/
#top-map-div, #bottom-map-div {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#drilldownDetails {
  padding-top: 10px;
}

#form-div, #form-div-2 {
  padding-left: 125px;
  padding-right: 275px;
}

/*Footer styling*/

.footer {
  display: block;
  position: relative;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #D8E1D8;
}

.footer li {
  display: inline;
}

.footer a {
  padding: 10px 15px;
  text-decoration: none;
}

.footer i {
	font-size: 150%;
	padding: 10px 15px 0 15px;
	color: #3C503D;
}

.footer ul {
  margin: 0;
  padding: 0;
}
